body {
    background-color: rgb(212, 191, 233);
    margin-left: 2%;
    margin-right: 2%;
    color: darkslateblue;
}

h1,
h2 {
    text-align: center;
}

p,
ul {
    text-align: justify;
    line-height: 1.5;
    font-size: 1.5em;
    text-indent: 20px;
}

img {
    margin: auto;
    display: block;
}